.banner{
    height: 100vh;
}

.fa{
    padding-right: 20px;
}

.main_title{
    font-size: 5em;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 0.2em;
    color: white;
}

.last_year{
    padding: 30px;
}

.promotional-block{
    padding-top: 30px;
}

.gallery-items{
    width: 125px;
    margin: 15px;
}

@media only screen and (max-width: 980px) {
    .main_title{
        font-size: 3em;
    }
}
