.banner{
    height: 100vh;
}

.fa{
    padding-right: 20px;
}

.main_title{
    font-size: 5em;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 0.2em;
    color: white;
}

.last_year{
    padding: 30px;
}

.promotional-block{
    padding-top: 30px;
}

.gallery-items{
    width: 125px;
    margin: 15px;
}

.counter{
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }

    h1{
      color: #396;
      font-weight: 100;
      font-size: 40px;
      margin: 40px 0px 20px;
    }

    #clockdiv{
    	font-family: sans-serif;
    	color: #fff;
    	display: inline-block;
    	font-weight: 100;
    	text-align: center;
    	font-size: 30px;
    }

    #clockdiv > div{
    	padding: 10px;
    	border-radius: 3px;
    	background: #d20000;
    	display: inline-block;
    }

    #clockdiv div > span{
    	padding: 15px;
    	border-radius: 3px;
    	background: #f53a37;
    	display: inline-block;
    }

    .smalltext{
    	padding-top: 5px;
    	font-size: 16px;
    }

@media only screen and (max-width: 980px) {
    .main_title{
        font-size: 3em;
    }
}
